tools/datasets/cp8sp50k_custom_dataset_text_matched_token_ids.jsonl filter=lfs diff=lfs merge=lfs -text
afd_plugin/connectors/npu/bin/*.run binary
afd_plugin/connectors/npu/bin/*.whl binary
*.sh text eol=lf
